# Database Configuration
DB_SERVER=190.168.0.20
DB_DATABASE=DIBIAG 
DB_USER=sa
DB_PASSWORD=Password1!
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

# Server
PORT=3001
NODE_ENV=production
